<h3>RubyChina招聘信息</h3>

<form action="/jobs" class="form-horizontal" role="form">

  <div class="form-group container-fluid">

    <div class="row">
      <div class="col-md-3">
        <input class="form-control" size="16" type="text" id="city" name="city" value="<%= params[:city] %>">
      </div>

      <div class="col-md-3">
        <button type="submit" class="btn btn-primary">查询</button>
      </div>
    </div>
  </div>

</form>

<ul class="list-group job-list">
  <% @jobs.each do |job| %>
    <li class="list-group-item">
      <label class="date    "><%= job.published_at.to_date %></label>
      <label class="original"><%= link_to '查看原文', job.url, target: "_blank" %></label>
      <label class="title   "><%= link_to job.title, "/jobs/#{job.id}", target: "_blank" %></label>
    </li>
  <% end %>

  <% if @jobs.size == 0 %>
    <li class="list-group-item no-data">Sorry! There's nothing!</li>
  <% end %>
</ul>

<%= will_paginate @jobs, previous_label: '上一页', next_label: '下一页' %>